<%= f.input :blog_id, as: :hidden, input_html: { value: @blog.id } %>

<div class='row'>
  <div class='col-lg-6'>
    <%= f.input :category %>
  </div>
  <div class='col-lg-6'>
    <%= f.input :estimated_number_of_possible_posts %>
  </div>
</div>