<h2 class='float-left'><%= @item_name.pluralize.titleize %></h2>

<div class='float-right'>
  <%= link_to fa_icon('newspaper', text: 'Blog'), control_room_blog_path(@blog), class: 'btn btn-success btn-md' %>
</div>

<hr class='fix-float'>

<%= render partial: 'control_room/stimulus/quick_element' %>