$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~bootstrap/scss/bootstrap';
@import '~chart.js/dist/Chart';

.fix-float {
  clear: both;
}